body{

background-color: white;
}

nav{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
nav a{
  color:white;
}
.App {
  text-align: center;
  width: 20rem;
  margin-top: 10px;
  margin-bottom: 10px;
  
  border-radius: 25px;
  background-color: whitesmoke;
  padding-bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.maindiv{
  display: grid;
  grid-template-columns:  1fr;
  gap: 1rem;
  row-gap: 0.5rem;
  padding: 1rem;
  justify-items: center;
}
@media (min-width:520px) {
  .maindiv{
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 2rem;
}}

.list{
  list-style: none;
  align-items: center;
  align-content: center;
  margin-right: 30px;
}
.name{
  align-items: center;
  align-content: center;
  text-transform: uppercase;
}
#model{
  align-items: center;
  align-content: center;
  text-transform: uppercase;
}
.logo{
  height: 120px;
  width: 120px;
}
.usercard{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding:1rem;
}
.carddiv{
  padding:2rem;
  background-color:rgb(0, 255, 234);
}
.textf{
  padding:2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.searchbrand{
  margin-top: 1rem;
  margin-left: 1rem;
  justify-content:center;
}